<footer>
    <div class="f-info">
        <div class="f-info-social">
            <a href="https://www.facebook.com/facebook"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/md-tauhed-69712823a/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy;Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/terms">Terms</a>
            <a href="/privacy">Privacy</a>
        </div>
    </div>
</footer>