<%- layout("/layouts/boilerplate")%>
<body>
    <div class="row col-md-8 offset-md-2 mt-3">
        <div class="alert alert-danger" role="alert">
            <p><%=message%></p>
        </div>
    </div>
</body>
